*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #2e2b29;
    font-family: 'Hind Siliguri', sans-serif;

    font-family: 'Raleway', sans-serif;
}


header{
    display: flex;
    flex-direction: wrap;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0 100px;
}

.portada{
    display: flex;
    width: 500px;
    height: 500px;
}

.imagen img{
    width: 300px;
    height: 300px;
}
.title h2{
    color: white;
    font-size: 36px;
}
.title p{
    color: white;
}
@media (max-width:1000px){
    header{
     justify-content: center;
     align-items: center;
     flex-direction: column;       
    }
    .hero{
        margin: 0 0 0 -20px;
    }
    .portada{
       
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
    }
    .title{
        display: flex;
        flex-direction: column;    
    }
    .title h2{
        
        font-size: 16px;
    }
    .title p{
        font-size: 16px;
    }
}

